.jumbotron {
    margin: 0;
    padding:10px;
    background-image: url("../img/tiles.jpg");
    background-size: cover;
    
}

h1 {
    color:red;
}

h2 {
    color:green;
}

body {
    position: relative;
    background-color: rgb(173, 204, 180);
}

.navbar {
    background-color: aquamarine;
}

.nav-item {
    background-color: rgb(99, 189, 99);
}

.navbar :any-link {
    color: white;
}
#list-tab{
    margin: 10px;
}
.tab-pane{
    margin: 10px;
}
