.jumbotron {
    margin: 0;
    padding:10px;
    background-image: url("../img/tiles.jpg");
    background-size: cover;
    
}

h1 {
    color:red;
    font-family: 'Cookie', cursive;
}

h2 {
    color:green;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    margin-top: -20px;
}

body {
    position: relative;
    background-color: rgb(173, 204, 180);
}

.navbar {
    background-color: rgb(99, 189, 99);
}

.navbar-toggler {
    color: white;
}

.nav-item {
    background-color: rgb(99, 189, 99);
    font-size: 22px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.navbar :any-link {
    color: white;
}

#list-tab{
    margin: 10px;
}

.tab-pane{
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
    background-color: rgb(225, 247, 232);
}

/* @media (max-width: 768px) {
    #list-tab{
        display: none !important;
    }
} */
footer{
    margin-top: 20px;
    color:white;
    padding:10px;
    background-color: rgb(146, 187, 146);
   
}

footer h3 {
    font-family: 'Cookie', cursive;
    font-size: 50px;
}

footer h4 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    margin-top: -10px;
}